.stats{
    display: flex;
    width: 100%;
    height: 734px;
    background: linear-gradient(180deg, rgba(151, 235, 244, 0.0375) 0%, rgba(122, 229, 245, 0.0632832) 33.33%, rgba(101, 221, 239, 0.0575) 66.67%, rgba(255, 255, 255, 0.25) 100%);

}

.statsbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 353px;
    height: 488px;
    padding: 52px 48px 52px 48px;
    border-radius: 32px;
    border: 2px solid #E6F9FE;
    gap: 48px;
    background-color: #FFFFFF;

    position: relative;
    top: 126px;
    left: 118px;
    
}

.statscontent{
    display: flex;
    flex-direction: column;
    width: 257px;
    height: 96px;
    gap: 12px;

}

.number{
    width: 257px;
    height: 68px;

    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: -webkit-linear-gradient(0deg, #2B3179 -1.37%, #434CB8 45.62%, #4E59E0 89.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.amount{
    margin: 0px;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 700;
}

.purpose{

    width: 256px;
    height: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #919DA1;
    text-transform: uppercase;
    margin: 0;
    text-align: center;

}

.map img{
    position: relative;
    width: 812.16px;
    height: 578px;
    top: 150px;
    left: 270px;
}